[flake8]
ignore = E203 # https://black.readthedocs.io/en/stable/the_black_code_style.html#slices
max-line-length = 88
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,.venv,src,venv
application-import-names=kd
import-order-style=google
filename = *.py, ./kfc/*.py ./tests/*.py ./docs/conf.py
